@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.rkmd-checkbox {
    color: #818181;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
}
.rkmd-checkbox .input-checkbox {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: -9px;
}
.rkmd-checkbox .input-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    left: 7px;
    bottom: 7px;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    opacity: 0;
}
.rkmd-checkbox .input-checkbox input[type="checkbox"] + .checkbox:before {
    position: absolute;
    left: 4px;
    bottom: 8px;
    width: 18px;
    height: 18px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: -6px;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 1;
}
.rkmd-checkbox .input-checkbox input[type="checkbox"] + .checkbox:before {
    content: "\e835";
    color: #717171;
}
.rkmd-checkbox .input-checkbox input[type="checkbox"]:checked + .checkbox:before {
    content: "\e834";
}
.rkmd-checkbox .input-checkbox input[type="checkbox"]:active:not(:disabled) + .checkbox:before {
    -webkit-transform: scale3d(0.88, 0.88, 1);
    transform: scale3d(0.88, 0.88, 1);
}
.rkmd-checkbox .input-checkbox input[type="checkbox"]:disabled + .checkbox:before {
    color: rgba(0, 0, 0, 0.157) !important;
}
.rkmd-checkbox.checkbox-light label, .rkmd-checkbox.checkbox-light .label {
    color: #FFF;
}
.rkmd-checkbox.checkbox-light input[type="checkbox"] + .checkbox:before {
    color: #FFF;
}
.rkmd-checkbox.checkbox-light input[type="checkbox"]:disabled + .checkbox:before {
    color: #5d5d5d !important;
}
.rkmd-checkbox.checkbox-light.checkbox-rotate input[type="checkbox"] + .checkbox:before {
    border-color: #FFF;
}
.rkmd-checkbox.checkbox-light.checkbox-rotate input[type="checkbox"]:disabled + .checkbox:before {
    border-color: #5d5d5d !important;
}
.rkmd-checkbox label, .rkmd-checkbox .label {
    cursor: pointer;
}