@import "checkbox.css";

.data-table th {
    background-color: #013055;
    color: #fff;
    text-align: center !important;
}

.data-table td {
    text-align: center !important;
    color: #013055;
}

.ui-menu {
    z-index: 5555;
    background-color: #e3e3e3;
    border: 1px solid #013055;
}

.ui-menu-item-wrapper.ui-state-active {
    margin: 0;
    background-color: #013055;
    color: #fff;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
}

#loading.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 0;
}

.btn-outlined {
    background-color: transparent;
    border: 2px solid #013055;
    color: #013055;
}

.btn-outlined:hover,
.btn-outlined:focus {
    background-color: #013055;
    color: #fff;
}

.btn-primary {
    background-color: #013055;
    color: #fff;
}

.btn-secondary {
    background-color: #00ccff;
    color: #013055;
}

.form-control {
    border-radius: 0;
    background-color: transparent;
    border-color: #013055;
}

.form-control.alt {
    border-color: #fff;
}

.form-control.light {
    border-color: #e3e3e3;
}

.form-control.alt::-webkit-input-placeholder {
    color: #fff;
}

.form-control.alt::-moz-placeholder {
    color: #fff;
}

.form-control.alt:-ms-input-placeholder {
    color: #fff;
}

.form-control.alt:-moz-placeholder {
    color: #fff;
}

.form-control::-webkit-input-placeholder {
    color: #013055;
}

.form-control::-moz-placeholder {
    color: #013055;
}

.form-control:-ms-input-placeholder {
    color: #013055;
}

.form-control:-moz-placeholder {
    color: #013055;
}

.checkbox-inline {
    margin-right: 50px;
}

.action-btn {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 19px;
    border: 1px solid #30de80;
    border-radius: 50%;
    color: #30de80;
    font-size: .8em;
    display: inline-block;
}

.action-btn:hover,
.action-btn:hover,
.action-btn:hover {
    text-decoration: none;
}

.btn-create, .btn-export {
    margin-bottom: 5px;
}

.btn-delete {
    color: #c20000;
    border-color: #c20000;
}

.btn-show {
    color: #00ccff;
    border-color: #00ccff;
}

html.full-height, html.full-height body {
    height: 100%;
}

header {
    background: #979797 url(../images/header-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 10px 0;
}

header .logo {
    height: 50px;
    margin-right: 5px;
}

header .titles {
    color: #fff;
    padding-top: 3px;
}

header .titles h1 {
    font-size: 1.8em;
    margin: 0;
}

header .titles h2 {
    font-size: 1em;
    margin: 0;
}

header .user {
    text-align: right;
    color: #fff;
    margin: 10px 0;
}

@media (max-width: 768px) {
    header .user {
        text-align: center;
    }
}

header .user .setting {
    margin-top: -3px;
    margin-right: 10px;
}

header .user .welcome-msg span {
    color: #00ccff;
}

header .user .welcome-msg {
    margin-right: 20px;
}

.navbar {
    background: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #00ccff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #00ccff;
    background-color: transparent;;
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle {
        margin-top: -40px;
    }
}

main {
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    main {
        padding-bottom: 20px;
    }
}

.toolbar {
    padding: 20px 0;
    background-color: #00ccff;
    margin-bottom: 40px;
    font-weight: bold;
}

.toolbar .time {
    margin-bottom: 20px;
}

.toolbar .time i {
    display: inline-block;
    margin-left: 30px;
}

.toolbar .add-new-case, .toolbar .add-new-user {
    font-weight: bold;
}

.toolbar .add-new-case i, .toolbar .add-new-user i {
    display: inline-block;
    border: 2px solid #013055;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}

.toolbar .btn-search i {
    color: #00ccff;
}

.table-wrapper {
    min-height: 400px;
    padding-bottom: 60px;
}

footer {
    background-color: #979797;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    position: fixed;
}

@media (max-width: 768px) {
    footer {
        position: static;
    }
}

footer #copyrights img {
    display: block;
    border-right: 2px solid #00ccff;
    padding-right: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    footer #copyrights {
        text-align: center;
    }

    footer #copyrights img {
        border-right: 0;
        margin: 10px auto;
        float: none !important;
    }
}

footer #copyrights p {
    margin: 0;
    padding-top: 10px;
}

footer .developer {
    margin-top: -7px;
    float: right;
}

@media (max-width: 768px) {
    footer .developer {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

footer .developer p {
    margin: 0;
}

main#login {
    background: url(../images/login-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20px;
}

@media (min-width: 768px) {
    main#login {
        height: 100%;
        padding-top: 250px;
    }
}

main#login .logos {
    text-align: right;
}

@media (max-width: 768px) {
    main#login .logos {
        text-align: center;
        margin-bottom: 20px;
    }
}

main#login .logos img {
    height: 180px;
    margin-right: 10px;
}

main#login .login-form-wrapper {
    color: #fff;
    margin-top: -10px;
    border-left: 2px solid #fff;
    padding: 10px 0 10px 20px;
}

main#login .login-form-wrapper h1 {
    margin: 0 0 10px 0;
}

main#login .login-form-wrapper .form-control {
    color: #fff;
}

.heading {
    margin: 0 0 15px 0;
    color: #013055;
    font-size: 1.4em;
    font-weight: bold;
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    padding: 30px;
}

#editCase .form-group {
    position: relative;
}

#editCase .form-group .form-control:not(:first-of-type) {
    margin-top: 5px;
}

#editCase .add-input,
#editCase .remove-input {
    position: absolute;
    top: 4px;
    right: 5px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #e3e3e3;
    color: #e3e3e3;
    font-size: 1.1em;
}

#editCase .form-control {
    width: 80%;
}

#editCase .case-id {
    height: 34px;
    padding-top: 5px;
    font-weight: bold;
    margin-bottom: 15px;
}

#editCase .case-id span.id-label {
    display: inline-block;
    margin-right: 10px;
    color: #1cd1ff;
}

#editCase hr {
    margin: 20px 0;
}

#editCase .priority .control-label {
    text-align: left;
}

#editCase .form-control-full-width .form-control {
    width: 100%;
}

#case .toolbar h2 {
    margin: 0;
    font-size: 1.6em;
}

#case .toolbar h3 {
    margin: 6px 0 0 0;
    font-size: 1.1em;
}

#case .toolbar .title {
    font-weight: bold;
}

#case .toolbar .row-wrapper [class^="col-sm"] {
    margin-bottom: 10px;
}

#case .status-wrapper, #case .forward-wrapper {
    padding-top: 2px;
    font-size: 1.1em;
}

#case .details .row-wrapper {
    border-bottom: 1px solid #d2d0d0;
}

#case .details .col-sm-4 {
    margin-bottom: 15px;
    margin-top: 15px;
}

#case .details .label {
    display: table-cell;
    padding: 0 0 0 10px;
    font-size: 100%;
    color: #013055;
    text-align: left;
    border-radius: 0;
}

#case .details .label::after {
    content: ':';
}

#case .details .data {
    display: table-cell;
    padding-left: 20px;
    color: #878787;
}

#case .details .history .col-sm-12 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#case .details .history ul {
    padding-top: 10px;
    padding-left: 40px;
}

#case .details .history ul li {
    margin-bottom: 2px;
}

#case .details .notes .row {
    border-bottom: 0;
}

#case .details .notes .col-sm-12 {
    margin-top: 15px;
    margin-bottom: 1px;
}

#case .details .notes .label {
    display: block;
}

#case .details .notes .content {
    padding: 20px;
    border: 1px solid #d2d0d0;
    min-height: 200px;
}

.comments h2 {
    padding: 10px 20px;
    background-color: #e4e4e4;
    color: #013055;
    text-align: center;
    margin: 10px 0;
    font-size: 1.4em;
    font-weight: bold;
}

@media (min-width: 768px) {
    .comments .comment {
        display: table-row;
    }
}

.comments .comment .left,
.comments .comment .right,
.comments .comment .body {
    display: table-cell;
    padding: 10px 10px 40px 10px;
    vertical-align: top;
}

@media (max-width: 768px) {
    .comments .comment .left,
    .comments .comment .right,
    .comments .comment .body {
        display: block;
        padding: 5px;
    }

    .comments .comment .right {
        margin-bottom: 20px;
    }
}

.comments .comment .left,
.comments .comment .right {
    white-space:nowrap;
    padding-top: 20px;
    width: 20%;
}

@media (max-width: 768px) {
    .comments .comment .left,
    .comments .comment .right {
        width: 100%;
    }
}

.comments .comment .left {
    border-right: 1px solid #d2d0d0;
    text-align: right;
}

.comments .comment .right {
    border-left: 1px solid #d2d0d0;
    text-align: left;
}

@media (max-width: 768px) {
    .comments .comment .left {
        border-right: 0;
        text-align: left;
    }

    .comments .comment .right {
        border-left: 0;
        text-align: right;
    }
}

.comments .comment .left h3,
.comments .comment .right h3 {
    font-size: 1.2em;
    color: #013055;
    margin: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d0d0;
}

.comments .comment .message {
    max-width: 70%;
    padding: 10px;
    background-color: #c7f4ff;
    color: #626262;
    margin: 0;
}

.comments .comment.user2 .message {
    background-color: #f3efef;
}

.comments .comment.user1 .message {
    float: left;
}

.comments .comment.user2 .message {
    float: right;
}

@media (max-width: 768px) {
    .comments .comment .message {
        float: none !important;
    }
}

.comments .comment .datetime .date {
    display: inline-block;
    margin-right: 30px;
}

#reports .time {
    margin-bottom: 0;
}

#reports .filters {
    margin: 40px 0;
}

#reports .filters .form-control {
    color: #c4c4c4;
    border-color: #c4c4c4;
}

#reports .filters .input-group-addon {
    border-radius: 0;
    background-color: transparent;
}

#reports .filters .form-control::-webkit-input-placeholder {
    color: #c4c4c4;
}

#reports .filters .form-control::-moz-placeholder {
    color: #c4c4c4;
}

#reports .filters .form-control:-ms-input-placeholder {
    color: #c4c4c4;
}

#reports .filters .form-control:-moz-placeholder {
    color: #c4c4c4;
}

#reports .cases-list {
    height: 400px;
    overflow: auto;
}

#reports .cases-list td {
    width: 30%;
    padding: 0;
}
#reports .cases-list .case {
    padding: 5px;
}

#reports .cases-list .case {
    display: block;
    color: #626262;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#reports .cases-list .case:hover,
#reports .cases-list .case:active,
#reports .cases-list .case:focus {
    background-color: #1cd1ff;
    text-decoration: none;
}

#reports .cases-list .case h3 {
    font-size: 1em;
    margin: 0;
}

#homeFooter {
    position: absolute;
    bottom: 50px;
    right: 250px;
}

@media (max-width: 768px) {
    #homeFooter {
        position: static;
        background-color: #979797;
        padding: 10px;
    }
}

#homeFooter img {
    float: left;
    height: 40px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 4px solid #00ccff;
}

#homeFooter h4 {
    color: #fff;
    font-size: 1em;
    white-space: nowrap;
    margin: 0;
}

#homeFooter h4 a {
    color: #fff;
}

#homeFooter .copyrights {
    color: #00ccff;
    margin-bottom: 10px;
}

#cases .status.active, #cases .status.reopened {
    color: #03c65d;
}

#cases .status.resolved {
    color: #c67f03;
}

#cases .status.closed {
    color: #828282;
}

#cases .status-filters .status-active a, #cases .status-filters .reopened a {
    color: #03c65d;
}

#cases .status-filters .resolved a {
    color: #c67f03;
}

#cases .status-filters .closed a {
    color: #828282;
}

#cases .table-responsive {
    min-height: 300px;
}