#printedContent {
    width: 19cm;
    padding: .5cm;
}

#printedContent .first-page {
    min-height: 26cm;
}

#printedContent .table > tbody > tr > td {
    padding: 8px;
}

#printedContent h3 {
    font-size: 1.1em;
    margin: 0 0 5px 0;
    font-weight: bold;
}

#printedContent .section {
    margin: 0 -8px .7cm -8px;
    padding: 0 8px;
    border-bottom: 1px solid #ddd;
}

#printedContent .section ul {
    margin-bottom: .7cm;
}

#printedContent .section:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

#printedContent .notes {
    margin-bottom: 1cm;
}

#printedContent .notes .box {
    min-height: 3cm;
    border: 1px solid #ddd;
    padding: .2cm;
}