/*
 * =================================================================== 
 *
 *  Color Medical System Main Stylesheet
 *  url: Color.com
 *  30-8-2017
 * -------------------------------------------------------------------
 *
 *  TOC:   
 * 1-01. webfonts and iconfonts 
 * 1-02. base style overrides
 * 1-03. common styles

 **** Home *****
 **** About *****
 **** Event *****
 **** News *****
 **** Publication *****
 **** Contact Us *****




 /** 
 * ===================================================================
 * webfonts and iconfonts 
 *
 * ------------------------------------------------------------------- 
 */
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
*/
@font-face {

    font-family: MyriadPro-Light;

    src: url(../fonts/MyriadPro-Light.otf) format("truetype");

}

@font-face {

    font-family: MyriadPro-Bold;

    src: url(../fonts/MyriadPro-Bold.otf) format("truetype");

}

@font-face {

    font-family: MyriadPro-Regular;

    src: url(../fonts/MyriadPro-Regular.otf) format("truetype");

}

body {
    background-color: #fff;
    font-family: MyriadPro-Light;
    /*   font-weight: 30;*/
    font-size: 16px;
    color: #363636;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 9.375px;

    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;

    }

    h3 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.375px;
    }
}

/*
*-
* common styles
*
*/
.m-t-160 {
    margin-top: 160px
}

.m-t-140 {
    margin-top: 140px
}

.m-t-130 {
    margin-top: 130px
}

.m-t-120 {
    margin-top: 120px;
}

.m-t-100 {
    margin-top: 100px
}

.m-t-80 {
    margin-top: 80px;
}

.m-t-70 {
    margin-top: 70px
}

.m-t-60 {
    margin-top: 60px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

/*font*/
h1 {
    font-family: MyriadPro-Bold;
}

.font-light-42 {
    font-size: 42px;

}

.font-42 {
    font-size: 42px
}

.font-30 {
    font-size: 30px;
}

.font-25 {
    font-size: 25px
}

.font-27 {
    font-size: 27px
}

.font-22 {
    font-size: 22px
}

.regular {
    font-family: MyriadPro-Regular;
}

.bold {
    font-family: MyriadPro-Bold;
}

.light {
    font-family: MyriadPro-Light;
}

/*color*/
.main-color {
    color: #065499;
}

.secound-color {
    color: #eeb61b;
}

.white-color {
    color: #f8f7f4;
}

.gray-color {
    color: #a2a2a2
}

.purple-color {
    color: #704a92;
}

.background-section {
    background-color: #f3f3f4;
}

.background-section2 {
    background-color: #fbfbfb;
}

.pading-section {
    padding: 60px 0 60px 0;
}

.phag {
    color: #a8aaac;
}

.title {
    color: #e3574e;
}

/*border*/
.main_border {
    border: 1px solid #DFDFDF;
    border-radius: 15px;
}

/*   Margin */

/* Links */
.line {
    margin: 25px 0;
    border-bottom: 4px solid rgba(153, 153, 153, 0.29);
}

a {

    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    /* color: #7b7b7b;*/
    text-decoration: none;
    outline: 0;
}

/*my button*/
.btn {
    border-radius: 6px;
}

.btn-primary.btn-outline {
    color: #2e6da4;

}

.btn-danger.btn-outline {
    color: #fff;

}

.btn-danger {
    background-color: #ed5565;
    border-color: #fff;
    color: #FFFFFF;
    border: 2px solid #fff;
    padding: 5px 42px;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
    background-color: transparent;
    border-color: #fff;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    background-color: #2e6da4;
    border-color: #2e6da4;
    color: #FFFFFF;
}

.btn-outline {
    color: inherit;
    background: transparent;
    transition: all .5s;
}

.category {
    background: -moz-linear-gradient(to right, transparent 80%, #fff 20%);
    background: -webkit-linear-gradient(to right, transparent 80%, #fff 20%);
    background: -o-linear-gradient(to right, transparent 80%, #fff 20%);
    background: -ms-linear-gradient(to right, transparent 80%, #fff 20%);
    background: linear-gradient(to right, transparent 80%, #fff 20%);
}

.btn-rounded {
    border-radius: 50px;
}

/*default*/
.btn-default {
    color: #333;
    font-weight: bold;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    padding: 2px 35px;
    font-size: 17px;
}

/*btn-primary*/
.btn-primary {
    border-radius: 0;
    padding: 6px 21px;
    font-size: 18px;
    border-color: #337ab7;
    font-family: MyriadPro-Bold;
}

/*btn-Lemonade*/
.btn-Lemonade {
    color: #fffafa;
    background-color: #bccb32;
    border-color: #bccb32;
    border-radius: 0;
    padding: 4px 35px;
    font-size: 19px;
    font-family: MyriadPro-Bold;
}

.btn-Lemonade.active.focus, .btn-Lemonade.active:focus, .btn-Lemonade.focus, .btn-Lemonade:active.focus, .btn-Lemonade:active:focus, .btn-Lemonade:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/*btn-purple*/
.btn-purple {
    color: #fffafa;
    font-weight: bold;
    background-color: #685678;
    border-color: #685678;
    border-radius: 0;
    padding: 1px 26px;
    font-size: 27px;
    font-family: MyriadPro-Bold;

}

.btn-purple:hover {
    color: #fff
}

.btn-purple.active.focus, .btn-purple.active:focus, .btn-purple.focus, .btn-purple:active.focus, .btn-purple:active:focus, .btn-purple:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #fff
}

/*btn-yollow*/
.btn-yollow {
    color: #fffafa;
    font-weight: bold;
    background-color: #ffbb00;
    border-color: #ffbb00;
    border-radius: 0;
    padding: 1px 35px;
    font-size: 27px;
    font-family: MyriadPro-Bold;
}

.btn-yollow:hover {
    color: #fff
}

.btn-yollow.active.focus, .btn-yollow.active:focus, .btn-yollow.focus, .btn-yollow:active.focus, .btn-yollow:active:focus, .btn-yollow:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #fff
}

/* Cover*/
#cover {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 350px
}

/*
* -
* header
*/

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    max-width: 130px;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    height: 80px;
    /* box-shadow: 0 1px 3px 0 #a8a8a8;*/
}

.navbar-default .navbar-nav > li > a {
    color: #065499;
    font-size: 17px;
    font-family: MyriadPro-Regular;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #065499;
    border-bottom: 2px solid #eeb61b;
    background-color: transparent;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 6px;

}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #eeb61b;
    /*border-bottom: 2px solid #eeb61b;*/
    background-color: transparent;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #eeb61b;
    background-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: #e7e7e7;
    background-color: #fff;
}

.navbarcenter a {

    margin: 0 10px;

}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown-menu > li > a {
    color: #065499;
}

.dropdown-menu > li > a:hover {
    color: #eeb61b;
    background-color: transparent;
}

@media only screen and (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .dropdown-menu {
        left: 21px;
        top: 67px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand > img {
        max-width: 120px;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #eeb61b;
        border-bottom: none;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: 360px;
        min-height: 290px;
    }

    .navbar-default {
        height: 69px;
    }

}

/*
* social icon
*/
.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 10px auto;
}

.social-nav li {
    display: inline-block;
}

.social-nav a {
    display: inline-block;
    float: left;
    /* width: 26px;
     height: 48px;*/
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    background: #fff;
    position: relative;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.model-3d-0 a {
    background: #fff;
    float: left;
    margin: 0 10px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.model-3d-0 a:hover {
    -moz-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.model-3d-0 a:hover .fornt {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.model-3d-0 a:hover .back {
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.model-3d-0 .front, .model-3d-0 .back {
    width: 30px;
    height: 34px;
    line-height: 1.8;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -moz-transform: translateZ(18px);
    -webkit-transform: translateZ(18px);
    transform: translateZ(18px);
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.model-3d-0 .front {
    border: 1px solid #136c96;
    font-size: 17px
}

.model-3d-0 .back {
    font-size: 22px;
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -webkit-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.model-3d-0 .back .fa {
    color: #fff;
}

.model-3d-0 .facebook .back {
    background: #3B579D;
}

.model-3d-0 .linkedin .back {
    background: #007BB6;
}

.model-3d-0 .youtube .back {
    background: #CB2026;
}

.fa-facebook {
    color: #136c96;
}

.fa-linkedin {
    color: #136c96;
}

.fa-youtube-play {
    color: #136c96;
}

/*====== Model-9 Animation ========*/
@-moz-keyframes icon-move {
    49% {
        -moz-transform: translateX(-40px);
        transform: translateX(-40px);
        opacity: 0;
    }
    50% {
        -moz-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 1;
    }
    80% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes icon-move {
    49% {
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 1;
    }
    80% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes icon-move {
    49% {
        -moz-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
        opacity: 0;
    }
    50% {
        -moz-transform: translateX(40px);
        -ms-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 1;
    }
    80% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*
*
* Department
*/

.depaertment1 {
    background-image: url("../img/1.jpg");
    background-size: cover;
    min-height: 600px;
    background-repeat: no-repeat;
}

.depaertment2 {
    background-image: url("../img/2.jpg");
    background-size: cover;
    min-height: 600px;
    background-repeat: no-repeat;
}

.depaertment3 {
    background-image: url("../img/3.jpg");
    background-size: cover;
    min-height: 600px;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
}

.overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 0;
}

.overlay:hover:before {
    display: block;
}

.red:before {
    background-color: rgba(12, 35, 113, 0.3);
}

.deop2:before {
    background-color: rgba(123, 8, 228, .3);
    min-height: 600px;
    max-height: 600px;
}

.deop3:before {
    background-color: rgba(255, 132, 0, 0.2)
}

.showme {
    display: none;
}

.showhim:hover .showme {
    display: block;
}

.showhim:hover .ok {
    display: none;
}

@media only screen and (max-width: 768px) {
    #department .ok h1 {
        margin-bottom: 0;
    }
}

/*
*
* footer
*/
#footer_home .list-inline-item a {
    margin: 0px 18px;
    font-size: 15px;
    color: #fff;
}

.list-inline-item a {
    margin: 0px 15px;
    color: #363636;
    font-family: MyriadPro-Regular;
    font-size: 14.74px;
}

.list-inline-item a:hover, #footer_home .list-inline-item a:hover {
    color: #eeb61b
}

footer span {
    font-size: 13.22px;
}

/*
*
* About
*/
#about p {
    text-align: justify;
}

/* carousel */

.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

/* Previous button  */
.media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    height: 20%;
    width: 3%;
    margin-top: 45px
}

/* Next button  */
.media-carousel .carousel-control.right {
    right: -12px;
    background-image: none;
    height: 20%;
    width: 3%;
    margin-top: 45px;
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.media-carousel img {
    width: 230px;
    height: 180px;
    border-radius: 13px;
}

/* End carousel */

.glyphicon-chevron-left:before {
    content: "\e079";
    color: #ddd;
    padding: 10px;
}

.glyphicon-chevron-right:before {

    color: #ddd;
    padding: 10px;
}

.collect video {
    border-radius: 10px;
    margin: 10;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .carousel-control.right {
        left: 0;
    }

    .carousel-control .glyphicon-chevron-right {
        display: none;

    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        top: 220%
    }
}

/*end carousel */
/*
*
* Event
*/
#event .block {
    background-color: #f4f5f5;
    padding: 8px 20px;
    color: #555;
}

#event .block p {
    text-align: justify;
}

/*
*
* calculator
*/
#calculator span {
    font-size: 13px;
    color: #afafaf;
}

#calculator .parent {
    color: #5fc8f9;
    font-family: MyriadPro-Bold;
    font-size: 25px
}

#calculator .grandparent {
    font-family: MyriadPro-Regular;
    font-size: 19px;
    font-weight: 100;
}

#calculator label {
    font-weight: 100;
}

#calculator ul li {
    color: #a2a2a2;
    font-size: 14px;
}

#calculator .price {
    color: #5fc8f9;
    font-size: 50px
}

#calculator .form-control {
    color: #a2a2a2;
    font-size: 17px
}

.modal-content {
    border-radius: 20px;
    padding: 7px 13px 14px
}

.modal-header {
    padding: 6px 15px 0;
    border-bottom: none;
}

/*
*
* doctor
*/
#category {
    background: #065499;
    padding: 10px;
}

.subblock {
    display: none;
}

#category .form-control {
    color: #999;
}

#category .block a {
    margin: 5px 3px;
    font-size: 17px;
}

.nav-tabs {
    border-bottom: none;
}

.panel-body a {
    font-size: 17px;
}

/**/
.part1, .part2 {
    font-size: 28px;

}

.part1 {
    font-weight: 100;
}

.part2 {
    font-weight: bold;
}

/*
*
* patient analysis
*/
/*table*/
#DataTables_Table_0_length {
    display: none;
}

#DataTables_Table_0_info {
    display: none;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

table.dataTable thead > tr > th.sorting_asc {
    padding-right: 0;
}

tr th {
    text-align: center;
    background-color: #065499;
    color: #fff
}

tr td {
    text-align: center;
    font-family: serif;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.fa-file-pdf-o {
    color: #363636;
}

.fa-file-pdf-o:hover {
    color: #065499;
}

.table-hover > tbody > tr:hover {
    background-color: #fff;
}

/*video lightbox*/

.videolightbox a:not(.lightbox-close) {
    display: inline-block;
    /* background: #d62c1a;*/
    height: 200px;
    width: 280px;
    line-height: 200px;
    font-size: 52px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    background-image: url("../img/vedio-footer.jpg");
}

/*LIGHTBOX STYLE*/
.lightbox {
    display: none;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.lightbox .lightbox-video {
    width: 100%;
    padding-bottom: 56%;
}

.lightbox iframe {
    position: absolute;
    height: 97%;
    width: 100%;
    left: 0;
    right: 0;
}

.lightbox img {
    display: block;
    margin: 0 auto;
}

.lightbox .lightbox-close {
    position: absolute;
    display: block;
    top: 15px;
    right: 10px;
    color: #fff;
    font-size: 26px;
    height: 50px;
    width: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    z-index: 1040;
}

.lightbox .lightbox-close:hover {
    text-decoration: none;
}

.lightbox .lightbox-container {
    max-width: 1024px;
    margin: 100px auto 25px;
}

@media only screen and (max-width: 768px) {
    .lightbox .lightbox-video {
        margin-top: 55px
    }

    .lightbox .lightbox-close {

        font-size: 18px;
        height: 40px;
        width: 40px;

        border-radius: 50%;
        line-height: 39px;

    }
}

/**/
.form-control {
    font-size: 17px;
    border-radius: 0;
}

#loggedIn {
    position: fixed;
    right: 20px;
    top: 100px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 20px;
    z-index: 9999;
    font-weight: bold;
}

#loggedIn p {
    margin-bottom: 0;
}

#loggedIn a {
    color: #eeb61b;
}

.table.table-vertical-middle th,
.table.table-vertical-middle td {
    vertical-align: middle;
}

.label-block {
    display: block;
    width: 100%;
}

.btn-bs-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-bs-default:focus,
.btn-bs-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-bs-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.research-item.active {
    background-color: #fff;
    color: #065499;
    font-weight: bold;
}

footer .copyrights {
    color: #f8f7f4;
}

footer .copyrights:hover {
    color: #f8f7f4;
    text-decoration: underline;
}