#loading {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    line-height: 100%;
}

#loading.start {
    display: block;
}

th {
    background-color: #013055;
    color: #fff;
    text-align: center;
}

.btn {
    border-radius: 0;
}

.btn-outlined {
    background-color: transparent;
    border: 2px solid #013055;
    color: #013055;
}

.btn-outlined:hover,
.btn-outlined:focus {
    background-color: #013055;
    color: #fff;
}

.btn-primary {
    background-color: #013055;
    color: #fff;
}

.btn-secondary {
    background-color: #00ccff;
    color: #013055;
}

.form-control {
    border-radius: 0;
    background-color: transparent;
    border-color: #013055;
}

.form-control.alt {
    border-color: #fff;
}

.form-control.alt::-webkit-input-placeholder {
    color: #fff;
}
.form-control.alt::-moz-placeholder {
    color: #fff;
}
.form-control.alt:-ms-input-placeholder {
    color: #fff;
}
.form-control.alt:-moz-placeholder {
    color: #fff;
}

html.full-height, body.full-height {
    height: 100%;
}

header {
    background: #979797 url(../images/header-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 10px 0;
}

header .logo {
    height: 50px;
    margin-right: 5px;
}

header .titles {
    color: #fff;
    padding-top: 3px;
}

header .titles h1 {
    font-size: 1.8em;
    margin: 0;
}

header .titles h2 {
    font-size: 1em;
    margin: 0;
}

header .user {
    text-align: right;
    color: #fff;
    margin: 10px 0;
}

header .user .setting {
    margin-top: -3px;
    margin-right: 10px;
}

header .user .welcome-msg span {
    color: #00ccff;
}

header .user .welcome-msg {
    margin-right: 20px;
}

main {
    padding-bottom: 100px;
}

.toolbar {
    padding: 40px 0;
    background-color: #00ccff;
    margin-bottom: 40px;
}

.toolbar .time {
    margin-bottom: 20px;
}

.toolbar .time i {
    display: inline-block;
    margin-left: 30px;
}

.toolbar .add-new-case i {
    display: inline-block;
    border: 2px solid #013055;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}

footer {
    background-color: #979797;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    color: #fff;
}

footer #copyrights img {
    display: block;
    border-right: 2px solid #00ccff;
    padding-right: 10px;
    margin-right: 10px;
}

footer #copyrights p {
    margin: 0;
    padding-top: 10px;
}

footer .developer {
    margin-top: -7px;
    float: right;
}

footer .developer p {
    margin: 0;
}

main#login {
    background: url(../images/login-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20px;
}

@media (min-width: 768px) {
    main#login {
        height: 100%;
        padding-top: 250px;
    }
}

main#login .logos {
    text-align: right;
}

@media (max-width: 768px) {
    main#login .logos {
        text-align: center;
        margin-bottom: 20px;
    }
}

main#login .logos img {
    height: 180px;
    margin-right: 10px;
}

main#login .login-form-wrapper {
    color: #fff;
    margin-top: -10px;
    border-left: 2px solid #fff;
    padding: 10px 0 10px 20px;
}

main#login .login-form-wrapper h1 {
    margin: 0 0 10px 0;
}